<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>My App</title>
</head>
<body>
    <h1>My Web Page</h1>

    <img src="image.png">

    <!-- Anything inside <%= %> is special ejs syntax that runs js in it-->
    <h2><%= Date() %></h2>

    <!-- <% %> syntax is js code that doesn't show in the html -->

</body>
</html>